<head>
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/mystyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script type=module src="../header.js"></script>

</head>

<body>
    <main-header></main-header>
    <div class="section-container">
        <h1>Gestión de inventario</h1>
    </div>



    <body onload="load();"></body>
    <p id="dynamic">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody id="data">

            </tbody>
        </table>
    </div>
    </p>
</body>

<script>
    function load() {
        fetch('http://127.0.0.1:5000/productos').then(
            res => {
                res.json().then(
                    data => {
                        console.log(data);

                        var temp = "";
                        data.forEach((itemData) => {
                            temp += "<tr>";
                            temp += "<td>" + itemData.idProducto + "</td>";
                            temp += "<td>" + itemData.nombre + "</td>";
                            temp += "<td>" + itemData.descripcion + "</td></tr>";
                        });
                        document.getElementById('data').innerHTML = temp;
                    }
                )
            }
        )
    }
</script>