<head>
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/mystyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
    <script type=module src="../header.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

</head>

<body>
    <main-header></main-header>
    <div class="section-container">
        <h1>Gestión de inventario</h1>
    </div>
    <button onclick="load()">Access the API</button>
    <p id="dynamic">
    <div class="container">
        <table id="table_id" class="display">
            <thead id="thead_id">
                <tr>
                    <th id="ID"></th>
                    <th id="Nombre"></th>
                    <th id="Descripcion"></th>
                </tr>
            </thead>
            <tbody id="data">

            </tbody>
        </table>
    </div>
    </p>
</body>

<script>

    function load() {

        fetch('http://127.0.0.1:5000/productos').then(
            res => {
                res.json().then(
                    data => {
                        document.getElementById('ID').innerHTML = "Id";
                        document.getElementById('Nombre').innerHTML = "Nombre";
                        document.getElementById('Descripcion').innerHTML = "Descripción";
                        if ($.fn.dataTable.isDataTable('#table_id')) {
                            var datatable = $('#table_id').DataTable();
                            datatable.clear();
                            datatable.rows.add(data);
                            datatable.draw();
                        }
                        else {
                            table = $('#table_id').DataTable({
                                retrieve: true,
                                data: data,
                                columns: [
                                    { data: 'idProducto' },
                                    { data: 'nombre' },
                                    { data: 'descripcion' },
                                ]
                            });
                        }
                    }
                )
            }
        )
    }
</script>