// FILE (create it): src/quasar-variables.sass
// enlayoutone se hace el cambiazo
// $primary: #31CCEC
$primary: #fff
$secondary: #27272E
$accent: #1c8895
$dark: #050a21
$positive: #21BA45
$negative: #C10015
$info: #e6dfa8
$warning: #F2C037
// creo que solo los de arriba se pueden cambiar con setCssVar

$astolfo: true
// $astolfo: false

// $bg-file-1: 'src/assets/bg1.jpeg'
// $bg-file-2: 'src/assets/bg2.png'
// $bg-file-3: 'src/assets/bg3.jpg'

$fondo: #24331559
$fondo-tabla: $primary
// $bg-file: $bg-file-1
$fondo-tabla-odd: #EBEFF3

// creo que se puede usar notacion de objetos para definir distintos
//temas
@if $astolfo
    // $bg-file: $bg-file-3
    $fondo: #6b2a5886
    $fondo-tabla: #fff//astolfo
    $chido: #1d031c
    $texto1: #f0d3e2

#app
    font-family: Avenir, Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    margin-top: 10px

.xdd
    content: ""
    height: 98vh
    background-repeat: no-repeat
    background-size: cover
    filter: saturate(150%) drop-shadow()
    opacity: 0.85
    filter: blur(5px)
    background-color: white

.content
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.q-layout
    padding-top: 9px

.q-page
    min-height: 0px

.chido
    color: #27272E

.q-drawer
    background-color: $dark
    color: $primary
    border-radius: 12px

.q-table__card
    background-color: $fondo-tabla
    border-radius: 12px

.q-table__top, thead
    background-color: $fondo-tabla-odd
    font-weight: bold
    color: black

.q-table__title, th.sortable, th.text-left
    font-weight: 600

.q-table,
.q-table__bottom
    background-color: $fondo-tabla
    color: black
    border-radius: 12px
    font-weight: 500

tr:nth-child(even)
    background-color: $fondo-tabla-odd !important

.q-toolbar
    background-color: #1d2237

.total-pagar
    margin-top: 100px
    // width: 300px
    //position: fixed
    //bottom: 0
    //right: 23px

.inner-total
    width: 300px


.total-pagar > th
    font-size: 30px


.input-codigo
    margin-bottom: 30px
    width:100%


.formulario-codigo
    display: flex

.total-pagar th
    color: $primary
    background-color: #1d2237
th.total-label
    font-size: 20px

td.text-left.total-price
    font-size: 20px
    font-weight: 600!important

.tabla-ventas tr > td
    font-size: 20px

.input-qtty span
    font-size: 20px


.finalizar-compra
    margin-top: 30px!important

#btn-cancelar
    text-align: right

#input-codigo
    width: 600px!important