<!DOCTYPE html>
<html>

<body>

    <a href="science-fiction.html">ver otra categoria</a>

    <h1> Comparte tu juego! </h1>
    <form action="" method="post">
        <input type="text" name="game_name" id="game_name" size="40" placeholder="Game name" required><br>
        <label for="platform">Choose platform </label>
        <select id="platform" name="platform">
            <option value="PC">PC</option>
            <option value="SWITCH">SWITCH</option>
            <option value="PLAYSTATION">PLAYSTATION</option>
        </select> <br>
        <label for="genre">Select game genre</label>
        <select id="genre" name="genre">
            <option value="ACTION">ACTION</option>
            <option value="ADVENTURE">ADVENTURE</option>
            <option value="RPG">RPG</option>
        </select> <br>
        <input type="submit" id="confirm" value="Confirm">
    </form>
</body>

</html>