<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Gestión La Tentación</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/mystyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script type=module src="../header.js"></script>
</head>

<body>

    <main-header></main-header>

    <div class="shortcuts">
        <div class="tarjeta">
            <div>
                <h2 class="texto-tarjeta">Gestion inventario</h2>
                <button class=" btn-tarjeta btn btn-primary" id="btninventario"><a href="productos.html"> Ver Productos
                    </a> </button>
            </div>
        </div>

        <div class="tarjeta">
            <div>
                <h2 class="texto-tarjeta">Ventas</h2>
                <button class=" btn-tarjeta btn btn-primary"> Ir ventas</button>
            </div>
        </div>

    </div>
    <script src="../renderer.js"></script>
</body>

</html>